<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?define P3Ribbon_TargetDir=$(var.P3Ribbon.TargetDir)?>
  <Product Id="*" Name="P3Ductbim" Language="1033" Version="1.0.0.0" Manufacturer="P3" UpgradeCode="0172c0fb-2d98-4745-9a73-c96990538a79">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <Icon Id="ductbim.ico" SourceFile="$(var.ProjectDir)\Images\ductbim.ico" />

    <WixVariable Id="WixUIBannerBmp" Value="Images\20041_P3_Illustrator_TemplateBanner_Wizard.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Images\20041_P3_Illustrator_Template_Wqizard.bmp" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir"/>
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />


    <UI>
      <UIRef Id="WixUI_InstallDir" />
      <Publish Dialog="WelcomeDlg"
            Control="Next"
            Event="NewDialog"
            Value="InstallDirDlg"
            Order="2">1</Publish>
      <Publish Dialog="InstallDirDlg"
            Control="Back"
            Event="NewDialog"
            Value="WelcomeDlg"
            Order="2">1</Publish>
    </UI>
    
    <Feature Id="ProductFeature" Title="P3Ductbim" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ApplicationShortuct" />
      <ComponentGroupRef Id="ApplicationProgramsFolder_files" />
    </Feature>
        <InstallExecuteSequence>
          <Custom Action="ca_ManifestAddinScrivi" After="InstallFinalize" >NOT Installed AND NOT REMOVE</Custom>
          <Custom Action="ca_ManifestAddinCancella" Before="RemoveFiles" >(REMOVE~="ALL") AND (NOT UPGRADINGPRODUCTCODE)</Custom>
        </InstallExecuteSequence>
  </Product>
  <!--https://codingbee.net/wix/wix-the-installation-sequence!-->
  <!--https://wixtoolset.org/documentation/manual/v3/xsd/wix/majorupgrade.html-->
  <Fragment>
    <Binary Id="CustomActionBinary" SourceFile="$(var.CustomAction.TargetDir)$(var.CustomAction.TargetName).CA.dll" />
    <CustomAction Id="ca_ManifestAddinScrivi" Impersonate="no" BinaryKey="CustomActionBinary" DllEntry="ManifestAddinScrivi" Return="check" />
    <CustomAction Id="ca_ManifestAddinCancella" Impersonate="no" BinaryKey="CustomActionBinary" DllEntry="ManifestAddinCancella" Return="check" />
  </Fragment>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="CommonAppDataFolder" >
        <Directory Id="Autodesk" Name="Autodesk">
          <Directory Id="AutodekRevit" Name="Revit">
            <Directory Id="AutodekRevitAddin" Name="Addins">
              <Directory Id="Addins2022" Name="2022" />
              <Directory Id="Addins2021" Name="2021" />
              <Directory Id="Addins2020" Name="2020" />
              <Directory Id="Addins2019" Name="2019" />
              <Directory Id="Addins2018" Name="2018" />
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="P3Ductbim">
          <Directory Id="P3_InstallerResources" Name="P3_InstallerResources" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="P3Ductbim" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortuct" Guid="ea28422e-71c8-11eb-9439-0242ac130002">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="P3Ductbim" Description="P3Ductbim" Target="[INSTALLFOLDER]"> </Shortcut>
        <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\P3Ductbim" Name="InstallFolder" Type="integer" Value="1" KeyPath="yes"> </RegistryValue>
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <!-- <Component Id="ProductComponent"> -->
      <!-- TODO: Insert files, registry keys, and other resources here. -->
      <!-- </Component> -->
      <Component Id="P3Ribbon.dll" Guid="22da2d52-24a9-429a-813e-c084b3ec5a5b" Directory="INSTALLFOLDER">
        <File Id="P3Ribbon.dll" Name="P3Ribbon.dll" Source="$(var.P3Ribbon_TargetDir)P3Ribbon.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ApplicationProgramsFolder_files">
      <Component Id="P3_InstallerResources_P3___Duct_system_template18.rte" Guid="9b755f9c-6cd3-401b-b44c-2e1738d84515" Directory="P3_InstallerResources">
        <File Id="P3_InstallerResources_P3___Duct_system_template18.rte" Name="P3 - Duct system template18.rte" Source="$(var.P3Ribbon.TargetDir)P3_InstallerResources\P3 - Duct system template18.rte" />
      </Component>
      <Component Id="P3_InstallerResources_P3___Duct_system_template19.rte" Guid="acd556c6-c745-41ee-9545-6582d7e699df" Directory="P3_InstallerResources">
        <File Id="P3_InstallerResources_P3___Duct_system_template19.rte" Name="P3 - Duct system template19.rte" Source="$(var.P3Ribbon.TargetDir)P3_InstallerResources\P3 - Duct system template19.rte" />
      </Component>
      <Component Id="P3_InstallerResources_P3___Duct_system_template20.rte" Guid="04064917-6caf-4574-9858-8ba01bf87214" Directory="P3_InstallerResources">
        <File Id="P3_InstallerResources_P3___Duct_system_template20.rte" Name="P3 - Duct system template20.rte" Source="$(var.P3Ribbon.TargetDir)P3_InstallerResources\P3 - Duct system template20.rte" />
      </Component>
      <Component Id="P3_InstallerResources_P3_ParamCondivisi.txt.txt" Guid="df6a1ccb-c998-4a3a-9440-6dab552cceeb" Directory="P3_InstallerResources">
        <File Id="P3_InstallerResources_P3_ParamCondivisi.txt.txt" Name="P3_ParamCondivisi.txt.txt" Source="$(var.P3Ribbon.TargetDir)P3_InstallerResources\P3_ParamCondivisi.txt.txt" />
      </Component>
      <Component Id="P3_InstallerResources_P3_TabelleDiPredimensionamento.txt" Guid="f30e76d8-bc80-4dea-a6cb-42ac1939d145" Directory="P3_InstallerResources">
        <File Id="P3_InstallerResources_P3_TabelleDiPredimensionamento.txt" Name="P3_TabelleDiPredimensionamento.txt" Source="$(var.P3Ribbon_TargetDir)P3_InstallerResources\P3_TabelleDiPredimensionamento.txt" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>