<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product 
		Id="51ad55db-fcfb-4560-a28d-cf7a5991fd89" 
		Name="P3DuctBIM" 
		Language="1033" 
		Version="1.0.0.0" 
		Manufacturer="Parallab" 
		UpgradeCode="024bb65d-6693-4182-8e2e-5d41e8584931">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of P3ductBIM is already installed." />
		<MediaTemplate EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="Installer" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="Installer" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			 <Component Id="ProductComponent"> 
				<!-- TODO: Insert files, registry keys, and other resources here. -->
				 <!--<File Source="C:\Users\XPS_00\Pictures\Screenshots\Screenshot (1).png" />-->
				 <File Source="$(var.P3Ribbon.TargetPath)" />
			 </Component> 
		</ComponentGroup>
	</Fragment>
</Wix>
